{{#if isTemp}}
    <div class="container infoBox mt-1 mb-1">
        <div class="row justify-content-center mt-3">
        <div class="alert alert-danger col-md-10" role="alert">
            <b>SAVE THIS LINK!!</b> use the below link to visit your page from next time on.Please save the link for sharing.
        </div>
        </div>
        <div class="row justify-content-center">
            <input type="url" spellcheck="false" id="url" class="col-md-6 form-control bg-dark" value="http://localhost:8888/invite/cards/{{url}}">
            <button class="btn btn-primary" onclick="copy()">Copy link</button>
        </div>
    </div>
{{/if}}

<div class="container main mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>{{title}}</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h3 style="border:solid 1px black; padding:5px; margin:15px;">Event Details: </h3>
            <p>{{details}}</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">

            <h3 style="border:solid 1px black; padding:5px; margin:15px;">Organised By: </h3>
            <h4>{{oDetails}}</h4>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-md-4">
            <p>created on: {{createdOn}}</p>
        </div>
    </div>
</div>

<script>
    function copy(){
        let urlCopy = $("#url")
        urlCopy.select()
        document.execCommand("copy")
        document.getSelection().empty()
    }
</script>

<style>
    .infoBox{
        padding:25px;
        border-bottom: lightgrey solid 4px;
    }
    .main{

    }
</style>



